<h1>Conceitos introdutórios de Python por Pedro Kpaxo</h1>
<p>Primeiros contatos com a linguagem</p>

In [14]:
# O clássico Hello World 
# Para fazer comentários em seu código, utilizar o # no começo da linha

print('Olá Mundo')

Olá Mundo

## Variáveis
Uma breve introdução

In [ ]:
# - Para declarar uma variavel no python podemos fazer:

var = 30 # - declarando números integrais
var_float = 3.0 # - números decimais
var_txt = 'Isso é texto' # - Textos e afins

### Importante notar que as variáveis vão receber o valor da sua última apresentação.

In [36]:
var_idade = 1
var_idade= 2
var_idade = 3
var_idade = 4
print(var_idade)
# - idade vai receber o último valor atribuido, ou seja 4

4

In [15]:
# O interpretador python utiliza espaços para se 'localizar'
# Chamamos de identação, a quantidade de espaços no começo da linha

# - Declarando uma variável qualquer
j = 1

# - chamando o loop, enquanto j for igual ou menor que cinco, execute o código abaixo
while(j<= 5):
    # - usar um tab para fazer o espaço do loop
	print(j)
    # - Somar 1 ao valor de j
	j = j + 1
    # - Repete o loop, até j <=5

1
2
3
4
5

<h1>Tipos de variáveis

<p>Variáveis, são conceitos fundamentais na matemática e na programação.</p>
<p>Vamos ver os principais tipos de variáveis da linguagem python.</p>
<p>Vamos tambem aprender o comando type(), que nos diz o tipo da variável</p>

<p>int, float, string</p>

In [16]:
# - Strings, ou textos, devem estar dentro de ' ' ou de " "

nome = 'Pedro'
print(nome)
# - Utilizando o comando type(), para descobrir o tipo da variável
print(type(nome))

Pedro
<class 'str'>

<h3>Classe String</h3>
<p>Aqui vemos que a variável nome é da <strong>classe str</strong>, ou string.</p>
<p>O termo classe, é um termo de programação orientada a objetos, algo que vamos explorar muito.</p>
<p>Basicamente, um objeto possui métodos e atributos que podem ser aplicados a eles</p>
<p>Por exemplo</p>
<style>
    p{
        font-weight:400;

    }

In [37]:
nome_str = str('Pedro K.Paxo')
# - Aqui utilizamos o comando, str() para inicializar uma nova instância da classe string
print(nome_str)

Pedro K.Paxo

In [17]:
# - Utilizando o método upper, para transformar todas as letras em maíusculas
# - Métodos, são funções que são aplicadas ao objeto, iremos ver isso depois
print(nome.upper())

PEDRO

In [18]:
print(nome.count('P')) # - Conta quantas vezes a letra P aparece na string nome
print(nome.count('p')) # - Conta quantas vezes a letra p aparece na string nome, python é sensivel a maiuscula e minuscula

1
0

In [19]:
# - No Jupyyer, podemos imprimir rapidamente, chamando a variável e o método
nome[::-1] # - Outra coisa legal que vamos poder entender, é como usar listas. Aguarde os próximos capitulos

'ordeP'

### Utilizando Formatação de String

Vamos utilizar uma f string, para fazer uma formatação simples

In [20]:
# - f strings obedecem ao padrão f'{variavel}'.
msg_boasvindas = f'Bem vindo {nome}, esse notebook é seu.'

# - Note que a variável nome vai entre colchetes, e a string começa com f

print(msg_boasvindas)

Bem vindo Pedro, esse notebook é seu.

<h3>Classe Int</h3>
<p>Aqui vemos que a variável idade é da <strong>classe Int</strong>, ou Integral.</p>
<p>A classe Int é utilizada para números inteiros.</p>
<p>Vamos ver alguns exemplos</p>
<style>
    p{
        font-weight:400;

    }

In [34]:
idade = 30
# - poderiamos dizer ainda
idade = int(30)
print(idade)
# - Usando novamente o comando type, é muito útil.
print(type(idade))

30
<class 'int'>

In [22]:
# - Subtração
# - Utilizar o sinal - para executar subtração
ano_nascimento = 2021 - idade
print(ano_nascimento)

1991

In [25]:
# - Soma
# - Para fazer uma soma, utilizar +

idade_futura = idade+10
print(idade_futura)

40

In [28]:
# - Multiplicação
# - Para realizar multiplicação , utilizar *

decada = 1*10
seculo = 10*10

print(f'Um século possui {seculo} anos. Uma década possui {decada} anos.')

Um século possui 100 anos. Uma década possui 10 anos.

In [31]:
# - Divisão
# - Para realizar divisão, utilizar /

duzia = 12
meia_duzia = 12/2

print(f'Uma duzia é igual a {duzia}, Meia duzia corresponde a {meia_duzia}')

Uma duzia é igual a 12, Meia duzia corresponde a 6.0

#### Importante!!
Notar que ao realizar a divisão, a variável meia_duzia aparece com uma casa decimal

In [32]:
# - Utilizando novamente o comando type

print(type(meia_duzia))

<class 'float'>

#### Já temos uma dica do nosso próximo tipo de variável.
Float é utilizada para números decimais.

Mas antes, vamos explorar como converter variáveis decimais, para variáveis inteiras.

In [33]:
# - Vamos primeiro imprimir a nossa variável
print(meia_duzia)
# - agora vamos converter a variável para int, utilizando int()
meia_duzia = int(meia_duzia)
# - Se lembrar que a variável meia_duzia vai receber o último valor atribuido
print(meia_duzia)

6.0
6

## Explorando Variáveis Float e Int

In [39]:
# - Realizando uma divisão simples
terco = 100/3
# - verificando o resultado da divisão
print(terco,type(terco))

33.333333333333336 <class 'float'>

### Importante !!!

Notar que o último valor decimal da variável terco, corresponde a 6, e tem seu valor devido a funções de cálculo numérico que fogem do escopo desse tutorial.

Mas é importante notarmos isso!

In [41]:
# - Aqui vamos converter o número decimal em inteiro
print(int(terco))
# - Mas não vamos atribuir um novo valor, vamos impimir a variável novamente
print(terco)

33
33.333333333333336

# Recapitulando

In [42]:
# - Atribuindo Variáveis

nova_variavel = 333

# - Realizando operações

operacao = (nova_variavel * 10 ) /3

# - Imprimindo resultados

print(operacao)

1110.0

In [46]:
# Realizando conversões sem modificar a variável

print(f'Converter, sem modificar a variavel operacao {int(operacao)}'  )
print(operacao)

Converter, sem modificar a variavel operacao 1110
1110.0

In [47]:
# - Atribuindo novos valores para a variável 
# - A mesma variável agora recebe o valor da conversão
operacao = int(operacao)
print(operacao)

1110

## Recapitulando f strings

E lembrando que um notebook armazena as variáveis em seu kernel.
Por isso, podemos referenciar uma variável declarada anteriormente, aqui

In [27]:
# - Usando f string com idade e nome
msg_boasvindas_idade = f'Seja bem vindo {nome}, você tem {idade}, e nasceu em {ano_nascimento}. Daqui a 10 você terá {idade_futura} anos.'
print(msg_boasvindas_idade)

Seja bem vindo Pedro, você tem 30, e nasceu em 1991. Daqui a 10 você terá 40 anos.